<div class="page-header">
  <%= link_to mirrors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_mirror_path(@mirror), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show mirror</h1>
</div>

<dl class="dl-horizontal">
  <dt>Source:</dt>
  <dd><%= @mirror.source %></dd>

  <dt>Frequency:</dt>
  <dd><%= @mirror.frequency %></dd>
	
  <dt>Health:</dt>
  <dd>
		<% if @mirror.health? %>
			<span class="label label-success">Healthy</span>
		<% else %>
			<span class="label label-danger">Warning</span>
		<% end %>
	</dd>

  <dt>Last updated:</dt>
  <dd><%= @mirror.last_updated %></dd>

  <dt>Name:</dt>
  <dd><%= @mirror.name %></dd>

  <dt>Notes:</dt>
  <dd><%= @mirror.notes %></dd>

  <dt>Mirrored url:</dt>
  <dd><%= @mirror.mirrored_url %></dd>

</dl>
